# Frameworks
fastapi>=0.115.0
starlette>=0.40.0
uvicorn>=0.32.0

# Networking & Telemetry
httpx>=0.27.2
prometheus-client>=0.21.0
pydantic>=2.9.2

# Explicitly forced security overrides (Trivy compliance)
wheel==0.46.2
jaraco.context==6.1.2